html{
    background: url(img/backround.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    font-size: 40px;
    color: brown;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-shadow: 6px 6px 6px pink;
}
h2{
    position: relative;
    bottom: 20px;
    color: palevioletred;
}
h4{
    position: relative;
    bottom: 20px;
    color: palevioletred;
}
.centered-text{
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchButton, #submit-btn{
    font-size: 30px;
    color: rgb(255, 0, 106);
    background-color: pink;
    border-radius: 20px;
    border: plum solid 4px;
    margin-right: 20px;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-field{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 1rem ;
    
}

#label-text{
    font-size: xx-large;
    padding: 10px;
    color: greenyellow;
    border: .4rem solid;
    border-radius: 80px;
    background-color: rosybrown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: clamp(200px, 50%, 600px);
}

#mushroomName{
    font-size: xx-large;
    border-radius: 2rem;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: clamp(200px, 50%, 600px);
}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#not-found{
    font-size: larger;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
}
img{
    display: inline-block;
    border-radius: 80px;
    width: 11rem;
    height: 11rem;
    border: pink solid 5px;
}
#habitat{
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: brown;
    font-weight: 700;
    font-size: larger;
    border: pink solid 5px;
    position:absolute;
    top: 18.5rem;
    right: 0;
    width:400px;
    max-width: 40%;
    height: min-content;
    background-color: white;

}
#confused-with{
    display: none;
    position: relative;
    bottom: 10rem;
    font-size: 24px;
    color: palevioletred;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#confused-with button{
    font-size: 30px;
    color: red;
    background-color: pink;
    border-radius: 20px;
    border: plum solid 4px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#mushrooms{
    display: inline-block;
    border: pink solid 2px;
    position:absolute;
    top: 2rem;
    right: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: brown;
}